# Configuración de Base de Datos
DB_HOST=localhost
DB_NAME=control_gastos
DB_USER=root
DB_PASSWORD=

# Configuración de Google Login (Opcional)
GOOGLE_CLIENT_ID=663492966810-6s64kqnulk4gkcr9vuevbl9o10f2i42b.apps.googleusercontent.com
